@model IEnumerable<SHOPTHL.Data.Khachhang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ChitietSp.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MataikhoanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MataikhoanNavigation.Mataikhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Makh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Makh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Makh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
