@model IEnumerable<SHOPTHL.Data.Ctmau>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MamauNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaspNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hinhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MamauNavigation.Mamau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaspNavigation.Masp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mactmau">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mactmau">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mactmau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
