@model IEnumerable<SHOPTHL.Data.Danhgium>

@foreach (var item in Model)
{
    <div class="flex-w flex-t p-b-68">
        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
            <i class="zmdi zmdi-account zmdi-hc-3x"></i> <!-- Thay hình ảnh bằng icon user -->
        </div>

        <div class="size-207">
            <div class="flex-w flex-sb-m p-b-17">
                <span class="mtext-107 cl2 p-r-20" style="font-family: Arial;">
                    @item.MakhNavigation.Tenkh <!-- Hiển thị tên khách hàng -->
                </span>

                <span class="fs-18 cl11" style="font-family: Arial;">
                    @for (int i = 0; i < item.Diemdanhgia; i++)
                    {
                        <i class="zmdi zmdi-star"></i> <!-- Hiển thị icon sao tương ứng với điểm đánh giá -->
                    }
                </span>
            </div>

            <p class="stext-102 cl6 style=" font-family: Arial;"">
                @item.Ngaydanhgia <!-- Hiển thị ngày đánh giá -->
            </p>

            <p class="stext-102 cl6" style="font-family: Arial;">
                Điểm đánh giá: @item.Diemdanhgia/5<!-- Hiển thị điểm đánh giá -->
            </p>

            <p class="stext-102 cl6" style="font-family: Arial;">
                Lời đánh giá: @item.Loidanhgia <!-- Hiển thị lời đánh giá -->
            </p>
            <img src="@("~/image/"+item.Hinhanh)" asp-append-version="true" width="100px" height="100px" />
        </div>
    </div>
}
