@model IEnumerable<SHOPTHL.Data.Diachi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ChitietSp.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tennguoinhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tennguoinhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhNavigation.Makh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madiachi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madiachi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madiachi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
