@model SHOPTHL.Data.Dondathang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Đặt CSS tùy chỉnh của bạn ở đây */
    </style>
</head>
<body>

    <div class="container">
        <h3>Hủy đơn hàng này ?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tổng tiền
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tongtien)
                </dd>
                <dt class="col-sm-2">
                    Ngày đặt hàng
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ngaydh)
                </dd>
                <dt class="col-sm-2">
                    Họ tên người nhận
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hoten)
                </dd>
                <dt class="col-sm-2">
                    Địa chỉ nhận hàng
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Diachi)
                </dd>
                <dt class="col-sm-2">
                    Số điện thoại
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sdt)
                </dd>
                <dt class="col-sm-2">
                    Mã KH
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MakhNavigation.Makh)
                </dd>
                <dt class="col-sm-2">
                    Phương thức vận chuyển
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaptvcNavigation.Maptvc)
                </dd>
                <dt class="col-sm-2">
                    Trạng thái
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MatrangthaiNavigation.Matrangthai)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Maddh" />
                <input type="submit" value="Hủy" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Trở về</a>
            </form>
        </div>
    </div>

</body>
</html>
