@model SHOPTHL.Data.Dondathang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ChitietSp.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Dondathang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Makh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaptvcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaptvcNavigation.Maptvc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatrangthaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatrangthaiNavigation.Matrangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Maddh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
