@model IEnumerable<SHOPTHL.Data.Taikhoan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tendangnhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chucvu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tendangnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chucvu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mataikhoan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mataikhoan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mataikhoan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
