@model SHOPTHL.Data.Danhgium

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ChitietSp.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Danhgium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydanhgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydanhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loidanhgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loidanhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diemdanhgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diemdanhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Makh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaspNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaspNavigation.Masp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Madanhgia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
