@model IEnumerable<SHOPTHL.Data.Giamgium>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaybatdau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayketthuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phantramgiam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaybatdau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayketthuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phantramgiam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Magiamgia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Magiamgia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Magiamgia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
